h1{
font-family: Helvetica;
font-size: 100px;
font-weight:bold;
color:Khaki;
background-image: url("./images/pattern.jpeg");
text-align: center;
}

.brushes{
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}

.special{
  font-family: helvetica;
  font-weight:bold;
  color:blue;
}

.frames{
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color:lightcoral;
}
.paint{
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color:skyblue;
}
